{% extends 'base.html' %}
{% block content %}

<div>
    <h1>{{ article.title }}</h1>
    <p>Author: {{ article.author }}</p>
    <p>Publication date: {{ article.pub_date }} UTC</p>
    <p>Tags: {% for tag in article.tags.all %} <span>{{ tag.name }}</span> {% endfor %}</p>
    <div class="article-content">
        {{ article.content }}
    </div>
    <div class="comments">
        <form method="POST" class="post-form">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="save btn btn-default">Send</button>
        </form>
        <p>Comments:</p>
        {% if article.comment_set.all %}
            {% for comment in article.comment_set.all %}
            <div class="comment">
                <p>Author: {{ comment.author }} - {{ comment.created }}</p>
                <p>Author: {{ comment.content }}</p>
            </div>
            {% endfor %}
        {% else %}
            <p>No comments. Maybe write one?</p>
        {% endif %}
    </div>
</div>
    {% endblock %}
